.counter button {
  border: 1px solid var(--gray4);
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.counter button:focus,
.counter button:hover {
  background-color: var(--point-c1);
}

.counter span {
  display: inline-block;
  padding: 1rem;
}
