.count {
  padding: 1rem 0;
}

.count button {
  font-size: 1.2em;
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.count button:hover {
  color: var(--point-c1);
}

.count .btnAdd {
  background-color: var(--gray3);
  color: white;
  transition: 0.3s;
}
.count .btnAdd:hover {
  background-color: var(--point-c1);
  color: white;
}
